.App {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 2em;
}
.Logs{
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid #b3b4b5;
  padding: 1em;
}
.Logs-wrapper{
  min-width: 30vw;
}